# Bot
BOT_TOKEN=<your-bot-token-here>
BOT_MODE=polling # polling
PORT=3000

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crm_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/crm_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=<your-redis-password-here>

# Google Sheets
GOOGLE_SHEETS_WEBHOOK_URL=<your-google-sheets-webhook-url-here>

# Telegram admin user ids
ADMIN_IDS=<your-tg-admin-users-ids-via-comma-here>