# Bot
BOT_TOKEN=your-bot-token-here
BOT_MODE=polling # polling
PORT=3000

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crm_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/crm_db
GOOGLE_SHEETS_WEBHOOK_URL=your-google-sheets-webhook-url-here

ADMIN_IDS=your-telegram-user-id-(with-comma)